








<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">N.D.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact.html">Contact</a>
        </li>
       
      <!-- </ul>a -->
  </nav>

  <div class="jumbotron text-center">
    <h1>Ngoc's Portfolio</h1>
    <p>My first Portfolio using Express</p>
    <p><small>Full Stack Development Aspiring Student</small></p>
    <a class="btn btn-primary" href="#" role="button">My Projects »</a>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h3>About</h3>
        <img class="img-fluid rounded-circle" src="https://assets.entrepreneur.com/content/3x2/2000/20170405204540-empire-yoda.jpeg?width=700&crop=2:1"
          alt="yoda">
        <span style="font-size: 3em; color: Tomato;">
          <i class="fas fa-stroopwafel"></i>
        </span>
        <i class="fas fa-rocket fa-xs"></i>
        <i class="fas fa-rocket fa-sm"></i>
        <i class="fas fa-rocket fa-lg"></i>
        <i class="fas fa-rocket fa-2x"></i>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>

      <div class="col-md-4">
        <h3>Education</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>

      <div class="col-md-4">
        <h3>Passion</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>

    </div>
  </div>


  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




